.dialogArea{
	display: flex;
	flex-direction: column;
}

.form{
	display: flex;
}

.textInput{
	border: 0;
	width: 100%;
}

.messages{
flex-grow: 1;
}

.messageWrap{
	display: flex;
}

.flexGrow{
	flex-grow: 1;
	min-width:30%;
}

.myMessage{
	text-align: right;
}
