.dialogBar__friendMessage{
    display: flex;
}
.nameTimeMessageWrapper{

}
.friendAvatar{
    display: block;
    margin: 7px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
background-color: aqua;
}
.nameTimeWrapper{
display: flex;

}
.friendName{
    flex-grow: 1;
}