.newPost{
        display: flex;
        background-color: white;
        border-radius: 10px;
        padding: 5px;
        margin: 0 0 5px 0;
      }

.newPost__likeDislikeWrapper{
  display: flex;
}      

.flexGrow{
 flex-grow: 1;
 max-width: 10px;
}
